.zlecenia td, .zlecenia th {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    padding: 5px;
}

tbody[data-wp-lists="list:person"] tr:hover {
	background-color: #ededed;
}
#id {
	width: 2.2em;
}

a.fancybox > img {
    width: 60%;
}


